export(twsConnect,
       twsDisconnect,

       twsConnectionTime,
       serverVersion,
       reqCurrentTime,

       reqContractDetails,

       twsContract,
       twsCurrency,
       twsEquity,
       twsFuture,
       twsOption,

       reqHistoricalData,
       cancelHistoricalData,

       reqMktData,
       cancelMktData,

       reqMktDepth,

       reqRealTimeBars
      )

export(.twsIncomingMSG,
       .twsOutgoingMSG,
       .twsERR,
       .twsTickType
      )

S3method(print,twsConnection)
S3method(print,twsContract)
S3method(print,twsContractDetails)
