export(twsConnect,
       twsDisconnect,
       twsConnectionTime,
       serverVersion,
       twsContract,
       twsEquity,
       twsFuture,
       reqCurrentTime,
       reqHistoricalData,
       cancelHistoricalData)

export(.twsIncomingMSG,.twsOutgoingMSG,.twsERR,.lastRequest)

S3method(print,twsConnection)
