export(twsConnect,
       twsDisconnect,

       twsConnectionTime,
       serverVersion,
       reqCurrentTime,

       reqIds,

       reqContractDetails,

       reqAccountUpdates,

       twsContract,
       twsCurrency,
       twsCASH,
       twsEquity,
       twsSTK,
       twsFuture,
       twsFUT,
       twsOption,
       twsOPT,

       reqHistoricalData,
       cancelHistoricalData,

       reqMktData,
       cancelMktData,

       reqMktDepth,
       cancelMktDepth,

       reqRealTimeBars,
       cancelRealTimeBars,

       twsOrder,
       placeOrder,
       cancelOrder
      )

export(.twsIncomingMSG,
       .twsOutgoingMSG,
       .twsERR,
       .twsTickType,
       .twsOrderID
      )

S3method(print,twsConnection)
S3method(close,twsConnection)

S3method(print,twsContract)
S3method(print,twsContractDetails)
