export(twsConnect,
       twsDisconnect,
       twsConnectionTime,
       serverVersion,
       twsContract,
       twsEquity,
       twsFuture,
       twsOption,
       reqCurrentTime,
       reqHistoricalData,
       reqMktData,
       reqMktDepth,
       reqRealTimeBars,
       cancelHistoricalData)

export(.twsIncomingMSG,.twsOutgoingMSG,.twsERR,.twsTickType)

S3method(print,twsConnection)
